:root{
    --primary-color: #2563EB;
    --secondary-color: #1E40AF;
    --text-color: #1F2937;
}

.aisp-woocommerce-pagination ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px 0;
}

.aisp-woocommerce-pagination ul li .page-numbers {
    border: solid 1px lightgray;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 5px;
}

.aisp-woocommerce-pagination ul li .page-numbers{
    color: var(--text-color);
    text-decoration: none;
}

.aisp-woocommerce-pagination ul li .page-numbers.current{
    color: white;
    background-color: var(--primary-color);
}
